.intro-text {
    font-size: 1.3rem;
    color: rgba(255,255,255,0.8)

}

.authors {
    color: rgba(255,255,255,0.4)
}

.scroll-text {
    /* text-align: center; */
    font-size: 22;
    color: #888;
}

.graphic-container {
    padding: 10vh 2vw 20vh;
    display: flex;
    justify-content: space-between;

}
.scroller {
    flex-basis: 30%;
    padding-right: 2vw;
}

.graphic {
    flex-basis: 70%;
    position: sticky;
    width: 100%;
    height: 60vh;
    top: 5vh;
    /* background-color: #aaa; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.custom-box-primary {
    border-top-color: red !important;
}

.bottom {
    padding: 10vh 2vw 20vh;
}

.test {
    /* border: 1px solid blue */
}