body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  /* background-color: rgba(245, 247, 220, 0.3) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
